<div class="sidebar-header">


  <div class="companyHeaderTag">
    <img src="../../assets/img/boots.jpg" (click)="imageSubmitClick()" id="tableBanner" style="border-radius: 10rem;" class="companyLogo" alt="user company">
    <div id="name">Trace</div>
    <div style="height: 0px; overflow:hidden">
      <!-- upload an image -->
      <form action="">
        <input multiple (change)="imageSubmit($event)" type="file" id="imageSelect" ngf-select ngf-max-size="25MB">
      </form>
    </div>
  </div>
</div>
  
  
 

<!-- <p class="userFirst">FirstName</p>
  <p class="userLast">LastName</p> -->
  
  <!-- <button type="button" (click)="onUpload()">Upload Image</button> -->