<div class="sidebar-header">


  <div class="companyHeaderTag">
    <img (click)="ImageSubmitClick()" style="border-radius: 10rem;" class="companyLogo" src="{{companyImage}}" alt="user company">

    <div style="height: 0px; overflow:hidden">
      <!-- upload an image -->
      <form action="">
        <input multiple  (change)="ImageSubmit($event)" type="file" id="ImageSelect" ngf-select ngf-max-size="25MB">
      </form>
    </div>
  </div>

  <div class="companyHeaderTag user-names">
    <p class="userFirst">{{firstName}}</p>
    <p class="userLast">{{lastName}}</p>
  </div>


</div>
<!-- <p class="userFirst">FirstName</p>
    <p class="userLast">LastName</p> -->
