<div class="profile">
  <div class="row">
    <div class="col">
    <div class="card dashboard-card">
      <div class="dashboard-header">
        <h5 class="card-title">    
          <ul class="nav nav-pills nav-fill dark" id="profile-nav" role="tablist">
      <li class="nav-item">
        <a class="nav-link left-nav" data-toggle="pills" role="tab" aria-controls="pills-welcome" aria-expanded="true" routerLink="company-welcome/" routerLinkActive="active">Company Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pills" role="tab" aria-controls="pills-industry" aria-expanded="true" href="#" routerLinkActive="active">Industry Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pills" role="tab" aria-controls="pills-risk" aria-expanded="true" routerLink="risk" routerLinkActive="active">Risk Assets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pills" role="tab" aria-controls="pills-fleet" aria-expanded="true" routerLink="fleet" routerLinkActive="active">Fleet Management</a>
      </li>
      <li class="nav-item right-nav">
          <a class="nav-link" data-toggle="pills" role="tab" aria-controls="pills-broker" aria-expanded="true" href="#" routerLinkActive="active">Broker/Carrier Info</a>
        </li>
    </ul></h5>
      </div>
        <div class="card-body">
<router-outlet></router-outlet>
        </div>
      </div>
    </div>
</div>
<!--dashboard components-->
<div class="row">
  <div class="col-sm-6">
      <app-activity-timeline></app-activity-timeline>
  </div>
  <div class="col-sm-6">
  </div>
</div>
</div>