<div class="card activity-timeline dashboard-card">
    <div class="card-header to-do-header dashboard-header">
      <div id="title">QUICK CONNECT</div>
      <hr />
      <select name="Client" style="width: 100%">
          <option value="Client" selected>Client</option>
          <option value="Agnecy">Agnecy</option>
          <option value="Teammember">Team Member</option>
          <option value="Broker">Broker</option>
        </select>
        <br><br>
        <div class="form-group">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" placeholder="Need to contact a client? Enter your messge here."rows="6"></textarea>
        </div>
        <button type="button" class="btn btn-dark">Submit</button>
    </div>
  </div>
