<div class="row justify-content-center">
  <h4>WHO IN YOUR COMPANY WILL NEED ACCESS TO SWIVYL?</h4>
</div>

<div *ngIf='this.added'>
  <alert type='success' [dismissible]="dismissible" (onClosed)="onClosed(alert)">{{this.alert}}</alert>
  </div>



<form (submit)="addSupervisor($event)">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="row">
        <div class="col">
          <div class="input-group">
            <input required placeholder="email@email.com" type="email" class="form-control" aria-describedby="basic-addon3">
          </div>
        </div>
        <div class="col">
          <select required name="entitySelect" (change)="pullCompanyEntities($event)" id="" placeholder="Select Company">
            <option value="" disabled selected>Select a company</option>
            <option *ngFor="let company of companies" value={{company.id}} >
              
                {{company.name}}
              
            </option>
          </select>
        </div>
        <div class="col">
            <select required name="entitySelect" id="">
                <option value="" disabled selected>Select an Entity</option>
              <option *ngFor="let entity of entities" value={{entity.id}}>            
                  {{entity.entity_name}}
              </option>
            </select>
          </div>
      </div>
    </div>

  </div>
  <div class="row justify-content-end">
    <button type="submit" class="btn btn-dark" style="margin-top: 2%;">Add User</button>
  </div>
</form>
