<div class="card activity-timeline dashboard-card">
  <div id="card"class="card-header to-do-header dashboard-header">
    <div id="title">Client Services</div>
    <i id="icon" class="fas fa-redo-alt"></i>
    <hr />
    <div>
      <a>5/9/18: Jim added a claim</a>
    </div>
    <div>
      <a>5/8/18: Mark updated company profile</a>
    </div>
    <div>
      <a>5/7/18: Tammy updated insured assets</a>
    </div>
    <div>
      <a>5/6/18: Jim added new user</a>
    </div> 
  </div>
  <a id="anchorView" href="">View All Activity</a>
</div>
