@each $color, $value in $theme-colors {
  .modal-#{$color} {

    .modal-content {
      border-color: $value;
    }

    .modal-header {
      color: #fff;
      background-color: $value;
    }
  }
}

#agency { position: relative; }
#agency input { text-indent: 25px;}
#agency .fa-envelope { 
    position: absolute;
    top: 7px;
    left: 6px;
    font-size: 15px;
}
