#getstarted {
    border-radius: .5rem;
}
.fleet{
    padding-top: 2rem;
}
h4{
    color: #263238
}
.profile{
    margin: 0 3.5rem 2rem
}
#profile-nav .nav-link{
    color: #263238;
    padding: 2rem
}
#profile-nav .nav-link.active{
    background-color: #263238;
    color: white;
    padding: 2rem;
}
.left-nav {
    border-top-left-radius: .5rem;
}
.right-nav {
    border-top-right-radius: .5rem;
}
.welcome{
    display: block;
    height: 25rem;
    padding-top: 2rem;
}
.setup{
    display: block;
    height: 25rem;
    padding-top: 2rem;
}
.entity{
    display: block;
    height: 25rem;
    padding-top: 2rem;
    overflow: scroll;
    
}
.shareholder{
    display: block;
    height: 25rem;
    padding-top: 2rem;
    overflow: auto;
}

.next-page{
    color: #a5c856;
    margin-top: 2%;
    margin-right: 2%;

}

.fa-trash {
    opacity: 0;
}
.fa-pencil {
    opacity: 0;
}
.entity-card:hover{
    .fa-trash{
    opacity: 1;
    }
    .fa-pencil{
        opacity: 1;
    }
}    