<div class="card activity-timeline dashboard-card">
  <div class="card-header to-do-header dashboard-header">
    <div id="title">Application Library</div>
    <hr />
    <!-- <p><button onclick="sortTable()">Sort</button></p> -->
    <table id="table" class="table-sm table-striped" style="width: 100%">
      <tbody>
        <tr>
          <td style="color: dodgerblue">Mutual NonDisclosure</td>
          <td style="color: rgb(65, 63, 63)">3 Total</td>
          <span class="badge badge-success">1 New</span>
        </tr>
        <tr>
          <td style="color: dodgerblue">Independent Contract Agree...</td>
          <td style="color: rgb(65, 63, 63)">0 Total</td>
          <td style="color: rgb(65, 63, 63)">0 New</td>
        </tr>
        <tr>
          <td style="color: dodgerblue">Risk Profile</td>
          <td style="color: rgb(65, 63, 63)">2 total</td>
          <span class="badge badge-success">1 New</span>
        </tr>
        <tr>
          <td style="color: dodgerblue">Mutual NonDisclosure Agree...</td>
          <td style="color: rgb(65, 63, 63)">3 total</td>
          <td style="color: rgb(65, 63, 63)">0 New</td>
        </tr>
      </tbody>
    </table>
  </div>
  <a href="" id="anchor">+ Add A New Form</a>
</div>
