.col-md-6 {
    display: block;
    margin: 0 auto;
    margin-top: 15%;
}

.title {
    font-size: 70px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.subtitle {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 28px;
}

.btn {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.form-control {
    border-radius: 10px;
}
