#title{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: gray;
    font-size: 14px;
}
#titleList{
    color: rgb(109, 160, 76);
    margin: 2px;
    margin-top: -.5em;
    
}
th{
    color: rgb(65, 63, 63)
}
tr{
    font-weight: bold;
}
#anchor{
    position: absolute;
    color: rgb(109, 160, 76);
    font-weight: bold; 
    right: 16px; 
    padding-bottom: 20px;
}   
#Card{
    font-size: 12px;
}

hr {
    margin-top: 1.8em;
}