<div id="Card" class="card activity-timeline dashboard-card">
  <div class="card-header to-do-header dashboard-header">
    <div id="title">Policy Adjustment Activity</div>
    <hr />
    <!-- <p><button onclick="sortTable()">Sort</button></p> -->
    <table id="table" class="table-sm table-striped" style="width: 100%">
      <thead id="tableHeader">
        <p id="titleList">PENDING</p>
        <tr>
          <th>Insured</th>
          <th>Time Pending</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="color: rgb(65, 63, 63)">ABC</td>
          <td style="color: rgb(235, 88, 88)">4 days</td>
          <td style="color: rgb(65, 63, 63)">New Vehicle</td>
        </tr>
        <tr>
          <td style="color: rgb(65, 63, 63)">Contractors</td>
          <td style="color: rgb(235, 88, 88)">7 days</td>
          <td style="color: rgb(65, 63, 63)">New Vehicle</td>
        </tr>
      </tbody>
      <a id="anchor" href="">More...</a>
    </table>
          <hr />
          <!-- <p><button onclick="sortTable()">Sort</button></p> -->
          <table id="table" class="table-sm table-striped" style="width: 100%">
            <thead id="tableHeader">
              <p id="titleList">COMPLETED</p>
              <tr>
                <th>Insured</th>
                <th>Completion Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="color: rgb(65, 63, 63)">Plumbing Inc.</td>
                <td style="color: rgb(109, 160, 76)">2 days</td>
                <td style="color: rgb(65, 63, 63)">New Vehicle</td>
              </tr>
              <tr>
                <td style="color: rgb(65, 63, 63)">123</td>
                <td style="color: rgb(109, 160, 76)">5 days</td>
                <td style="color: rgb(65, 63, 63)">New Vehicle</td>
              </tr>
              <a id="anchor" href="">More...</a>
            </tbody>
          </table>
        </div>
</div>