<div class="card to-do dashboard-card">
    <div class="card-header to-do-header dashboard-header">
            TO DO LIST
    </div>

    <div class="card-body" *ngIf="tasks.length >= 1">
        <h6 style="color:#a5c856">OVERDUE:</h6>
            <div *ngFor="let task of tasks | slice:0:5">
                <div *ngIf="task.dateDue < date">
                    {{task.dateDue | date:"M-dd-yyyy"}}: 
                    {{task.description}} 
                </div>
            </div> 
        <h6 style="color:#a5c856">UPCOMING:</h6>
            <div *ngFor="let task of tasks | slice:0:6">
                <div *ngIf="task.dateDue > date">
                    {{task.dateDue | date:"M-dd-yyyy"}}: 
                    {{task.description}} 
                </div>
            </div>
    </div>
        
    <div class="card-footer to-do-footer dashboard-footer">
            <a style="color:#a5c856; text-align: left; width:49%; display: inline-block; cursor: pointer;" (click)="open(viewall)" *ngIf="tasks.length >= 1">View all items</a>
       
            <a style="color:#a5c856; text-align: right; width:50%;  display: inline-block; cursor: pointer;">+Add Task</a>
    </div>
  
    <ng-template #createTask let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Add a Task</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (submit)="taskCreate($event)">
                <input type="text" placeholder="to-do task" class="btn btn-outline-dark">
                <input type="date" placeholder="due date" class="btn btn-outline-dark">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </form>
        </div>
    </ng-template>
      
    <ng-template #viewall let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">To-Do Task</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h6>ALL TASKS:</h6>
        
            <div *ngFor="let task of tasks">
            <div>
                {{task.dateDue | date:"MM/dd/yy"}}: 
                {{task.description}} <button class="btn btn-outline-dark" id="{{task.id}}" (click)="d('Cross click')" (click)="open(updateTask)">U</button> <button class="btn btn-outline-dark" id="{{task.id}}" (click)="removeTask($event)">X</button>
            </div>
            </div>
        </div>    
    </ng-template>   
   
    <ng-template #updateTask let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">To-Do Task</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <div *ngFor="let task of tasks">
            <div class="task container" *ngIf='task.id == currentId'>
                <form (submit)="updateTaskInfo($event)">
                <h4>Update Task</h4>
                <input type="date" class="btn btn-outline-dark" value="{{task.dateDue}}">
                <input type="text" value="{{task.description}}" id="{{task.id}}" class="btn btn-outline-dark">
                <button type="submit" class="btn btn-outline-dark" id="{{task.id}}">Edit</button>
                </form> 
            </div> 
            </div>
        </div>    
    </ng-template>
