<!-- Cards for Dashboard -->
<div class="d-flex">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <app-acc-management></app-acc-management>
      </div>
      <div class="col-md-6">
        <app-application-library></app-application-library>
        <!-- <app-client-overview></app-client-overview> -->
      </div>
      <div class="col-md-6">
        <app-client-overview></app-client-overview>
        <!-- <app-client-services></app-client-services> -->
      </div>
      <div class="col-md-6">
        <!-- <app-application-library></app-application-library> -->
        <app-policy-adjust></app-policy-adjust>
      </div>
      <div class="col-md-6">
          <app-client-services></app-client-services>
        <!-- <app-policy-adjust></app-policy-adjust> -->
      </div>
      <div class="col-md-6">
        <app-quick-connect></app-quick-connect>
      </div>
    </div>
  </div>
</div>