<div class="card activity-timeline dashboard-card">
  <div class="card-header to-do-header dashboard-header">
    Account Management
    <hr />
    <div>
      <a>Max Users</a>
    </div>
    <div>
      <a>Active Broker User</a>
    </div>
    <div>
      <a>Active Support Users</a>
    </div>
    <div>
      <a>Pending Broker/CSR Users</a>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">+ Add team member</button>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (submit)="newUser($event)" >
                  <Input placeholder="Enter User Email" />
                <Input placeholder="Enter User Password" />
            
              <Input placeholder="Enter User Name" />
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Create User</button>
            <!-- this is our (click)=newUser -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
