#title{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: gray;
}
#tableHeader{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: gray;
}
tbody{
    font-weight: bold;
}

#anchorView{
    position: absolute;
    color: rgb(109, 160, 76);
    font-weight: bold; 
    bottom: 0px;
    right: 10px; 
    padding: 8px;
}   