<button id="buttonAdd" type="button" class="btn btn-dark">Add Team Member
</button>
<br><br><br>
<div class="card activity-timeline dashboard-card">
  <div class="card-header to-do-header dashboard-header">
      <table id="teamTable" class="table table-striped" style="width: 100%">
          <thead>
              <tr>
                  <th>NAME <button (click) = sortTable(0)><i class="fas fa-sort"></i></button></th> 
                  <th>EMAIL <button (click) = sortTable(1)><i class="fas fa-sort"></i></button></th>
                  <th>TITLE <button (click) = sortTable(0) ><i class="fas fa-sort"></i></button></th>
                </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.firstName}} {{user.lastName}}</td>
              <td>{{user.email}}</td>
              <td>Broker</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>

