<button data-toggle="modal" data-target="#exampleModal" id="buttonAdd" type="button" class="btn btn-dark">Add Team Member
</button>
<br>
<br>
<br>
<div class="card activity-timeline dashboard-card">
  <div class="card-header to-do-header dashboard-header">
    <table id="teamTable" class="table table-striped">
      <thead>
        <tr>
          <th>NAME
            <button id="buttonth" (click)=sortTable(0)>
              <i class="fas fa-sort"></i>
            </button>
          </th>
          <th>EMAIL
            <button id="buttonth" (click)=sortTable(1)>
              <i class="fas fa-sort"></i>
            </button>
          </th>
          <th>TITLE
            <button id="buttonth" (click)=sortTable(0)>
              <i class="fas fa-sort"></i>
            </button>
          </th>
          <th>UPDATE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.firstName}} {{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.title}}</td>
          <td>
            <button data-toggle="modal" data-target="#updateModal" (click)="onUpdate(user)">Update User</button>
            <button data-toggle="modal" data-target="#deleteModal" (click)="onDelete(user.id)">Delete User</button>

          </td>
        </tr>
      </tbody>
    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (submit)="newUser($event)">
              <div class="form-group" id="mail">
                <span class="fas fa-envelope"></span>
                <Input type="email" id="email" placeholder="Enter user email">
              </div>
              <div class="form-group" id="pass">
                <span class="fas fa-key"></span>
                <Input type="text" id="password" placeholder="Enter user password">
              </div>
              <div class="form-group" id="user">
                <span class="fas fa-user"></span>
                <Input type="text" id="firstName" placeholder="Enter User First Name">
              </div>
              <div class="form-group" id="user">
                <span class="fas fa-user"></span>
                <Input type="text" required id="lastName" placeholder="Enter User Last Name">
              </div>
              <div class="form-group" id="user">
                <span class="fas fa-user"></span>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Title</label>
                  </div>
                  <select class="custom-select" id="user">
                    <option selected>Title...</option>
                    <option value="Broker">Broker</option>
                    <option value="Client">Client</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Create User</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="updatedUser !== { }">
  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModal">Update a User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>  
        </div>
        <div class="modal-body">
          <form (submit)="updateTrigger($event)">
              <div class="form-group" id="id">
                  <span></span>
                  <Input type="id" id="id" value="{{updatedUser.id}}" >
                </div>
            <div class="form-group" id="email">
              <span></span>
              <Input type="email" id="email" value={{updatedUser.email}} >
            </div>
            <div class="form-group" id="userFirst">
              <span></span>
              <Input type="text" id="firstName" value={{updatedUser.firstName}}>
            </div>
            <div class="form-group" id="userLast">
                <span></span>
                <Input type="text" required id="lastName" value={{updatedUser.lastName}}>
              </div>
              <div class="form-group" id="title">
                  <span></span>
                  <Input type="text" required id="title" value={{updatedUser.title}}>
                </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Update User</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
